* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 0;
  box-sizing: border-box;
  margin: auto;
  width: 802px;
}

canvas {
  border: 1px solid #000;
  display: inline-block;
}

main form {
  margin: 10px;
  padding: 5px;
  text-align: center;
}

main form input {
  padding: 5px;
}

#word-picker {
  max-width: 100%;
  margin-bottom: 20px;
  border: 1px solid black;
}

#word-picker .wordbank-btn {
  margin: 10px;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  background-color: bisque;
}

#word-picker .wordbank-btn:hover {
  cursor: pointer;
  transition-duration: 500ms;
  background-color: aquamarine;
}

#word-picker .wordbank-btn.active {
  background-color: #c5a782;
}

#word-picker p {
  margin-top: 10px;
  margin-left: 18px;
  font-size: 28px;
  font-weight: bold;
}

#success-message {
  display: none;
  text-align: center;
  margin-top: 10px;
}

#success-message p {
  font-size: 24px;
  margin-bottom: 10px;
}

#success-message button {
  padding: 10px;
  border-radius: 5px;
}

#success-message button:hover {
  cursor: pointer;
  transition-duration: 500px;
  background-color: aquamarine;
}
