* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 0;
  box-sizing: border-box;
  margin: auto;
  max-width: max-content;
}

canvas {
  border: 1px solid #000;
  display: inline-block;
}

main form {
  margin: 10px;
  padding: 5px;
  text-align: center;
}

#word-picker {
  /* display: flex;
  justify-content: space-between; */
  max-width: 100%;
  margin-bottom: 20px;
  border: 1px solid black;
}

#word-picker .wordbank-btn {
  margin: 10px;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  background-color: bisque;
}

#word-picker .wordbank-btn:hover {
  cursor: pointer;
  transition-duration: 500ms;
  background-color: aquamarine;
}

#word-picker .wordbank-btn.active {
  background-color: #c5a782;
}

#word-picker p {
  margin-top: 10px;
  margin-left: 10px;
}
